* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
#root {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: $color_background;
  color: $color_black;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  font-weight: 300;
}
